CREATE OR ALTER VIEW list_views.V_BENCHMARK_SALES_AGG AS
SELECT
    s.ID_CALMONTH,
    so.SALESORG_ID        AS ID_STORE,
    so.STORE_LOCATION     AS STORE_NAME,
    s.ID_CATEGORY,
    SUM(s.SALES_AMOUNT)              AS SALES_AMOUNT,
    SUM(s.REVENUE)                   AS REVENUE_EUR,
    SUM(s.GROSS_PROFIT_EUR)          AS GROSS_PROFIT_EUR,
    SUM(s.REVENUE) - SUM(s.GROSS_PROFIT_EUR) AS TRANSFER_COST_EUR, -- Wareneinsatz
    CASE WHEN SUM(s.SALES_AMOUNT) = 0 THEN NULL
         ELSE SUM(s.REVENUE) * 1.0 / SUM(s.SALES_AMOUNT) END AS AVG_SALES_PRICE_EUR
FROM dbo.T_ETL_MONTHLY_SALES s
JOIN dbo.T_SALESORG so
  ON so.SALESORG_ID = s.ID_STORE
GROUP BY s.ID_CALMONTH, so.SALESORG_ID, so.STORE_LOCATION, s.ID_CATEGORY;
